---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ProjectStatusIcon from "../components/ProjectStatusIcon.astro";
import Gallery from "../components/Gallery.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
      }

      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px; /*weird that this is so far from the outer border radius in code */
      }
      ul li a {
        display: block;
        color: black;
        box-shadow: 0 4px 12px var(--black);
        background-color: var(--copy);
      }
      .yello {
        color: var(--copy-dark);
      }
      ul li a:hover {
        color: var(--accent);
      }
      .title {
        margin: 0;
        color: rgb(var(--head));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--copy));
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section class="pb-12">
        <div class="flex items-center w-full">
          <h1 class="text-3xl pb-1 font-semibold">Hello world! My name is</h1>
        </div>
        <div class="flex items-center w-full">
          <h1 class="text-8xl text-center font-bold">Caroline Hohner</h1>
        </div>
        <div class="flex items-center justify-center w-full">
          <div class="pt-8">
            Welcome to my website! I am a sophomore at Cornell University
            studying computer science in the College of Arts and Sciences. I
            plan on minoring in game design and completing an external
            specialization in ecology.<br />
            <br /> I am a member of the the Cornell University Figure Skating Club
            and the Imaging subteam on
            <a class="yello" href="https://cuair.org/">
              Cornell University Unmanned Air Systems.</a
            >
            I'm also involved with the game design community at Cornell and currently
            facilitate a support class for Cornell's introductory Python course.
            <br />
            <br />Check out my projects below!
          </div>
        </div>
      </section>

      <br />

      <section class="pb-12">
        <div class="flex items-center justify-center w-full">
          <img src="/seed.svg" />
          <h1 class="pr-6 pl-1">just starting</h1>
          <img src="/bud.svg" />
          <h1 class="pr-6 pl-1">in progress</h1>
          <img src="/daisy.svg" />
          <h1 class="pl-2">finished</h1>
        </div>
      </section>

      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/${post.slug}/`}>
                  <div class="relative">
                    <div class="absolute -right-6 -top-6">
                      <ProjectStatusIcon status={post.data.status} />
                    </div>
                  </div>

                  <div class="pl-3 pr-3 pt-3">
                    <img
                      width={720}
                      height={360}
                      src={post.data.heroImage}
                      alt=""
                    />
                  </div>

                  <div class="pl-4">
                    <h4 class="title">{post.data.title}</h4>
                    <div class="pb-4">
                      <p class="date">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
